$color-fb: #425199;
$color-wp:#25D366;
$color-itg:#ed6c06;
$color-lkdn:#0a66c2;
$gris-transparent:#65636584;
$verde:#1e4d1d;
$verde-transparente: #1e4d1d6d;
$verde-oscuro: #31B189;
$verde-claro:#7ACE67;
$anaranjado:#FFC872;
$piel:#FFE3B3;



